<div class="unreadbook-footer-wrap">
  <section class="o-grid">
      <div class="o-grid__col o-grid__col--full">

          <div class="unreadbook-footer">
              <div class="">
                  <div class="unreadbook-logo-wrap">
                      <img class="unreadbook-logo" src="{{asset 'img/unreadbook_footer/unreadbook-logo.png' }}" alt="언리드북 로고">
                  </div>
                  <div class="f-description">
                      비욘드날리지 주식회사 / 대표 : 김재원 이준형 / 사업자등록번호: 856-88-02563 <br>
                      주소: 서울시 영등포구 국회대로 36길 6-1, 2층 디223호<br>
                      법인구독 및 기타 문의 : <a href="mailto:jjun@tappik.co.kr">jjun@tappik.co.kr</a>
                  </div>
              </div>
          </div>

      </div>
  </section>
</div>