{{!< default}}

<div class='o-wrapper'>
  <div class='c-archive'>
    <div class='o-grid'>
      <div class='o-grid__col o-grid__col--full'>
        <h1 class='c-archive__title'>404</h1>
        <p class='c-archive__description'>{{t 'Page Not Found' }}</p>
      </div>
    </div>
  </div>

  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>
      <div class='c-title-bar'>
        <h3 class='c-title-bar__title'>{{t 'Latest Episodes' }}</h3>
      </div>
    </div>
  </div>

  <div class='o-grid js-grid'>
    {{#get 'posts' filter='tags:podcast' limit='6'}}
      {{> loop }}
    {{/get}}
  </div>
</div>