{{!< ../default}}

{{#if @member}}
  {{!-- Logged in: Redirect home --}}
  <script>window.location = '{{@site.url}}';</script>
{{else}}
  <style>
    .signin-title { display:none; }
    .bluedot-wrapper {
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  </style>

  <div class='o-wrapper'>
    <div class='c-archive'>
      <div class="c-post-header">
        <div class="o-grid">
          <div class="o-grid__col o-grid__col--4-4-s   o-grid__col--2-3-m o-grid__col--center ">
            <div class="c-post-hero__content  c-post-hero__content--no-image ">
              <h1 class="c-post-header__title">로그인하기</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="bluedot-wrapper">
          <main class="bluedot-main bluedot-signin outer">
              <div class="inner">
                  <div class="price-info-wrap light">
                      {{bluedot_signin}}
                  </div>
              </div>
          </main>
      </div>
    </div>
  </div>
{{/if}}